.login .caja{
    padding:40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-destacada{
    padding: 40px;
    border: 2px solid var(--primario-claro);
    border-radius: 16px;
}
/*LOGIN CAJAS :*/

.login {
    display: flex;
    margin-top: 80px;
    margin-bottom: 80px;
    
}
.login .caja-destacada{
   display: flex;
    flex-direction: column;
    align-items: center;
}
/*PASARELA DE PAGO :*/
.nuevatarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.nuevatarjeta .btn{
display: inline-block;
width: 94%;
}

.nuevatarjeta .cajaSeleccionTarjeta {
    border: 2px solid var(--primario-claro);
    border-radius: 16px;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 32px;
}


#mistarjetas {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.inputnueva {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.inputnueva form {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.inputnueva form div{
    display: flex;
}

.inputnueva form .input {
    padding: 8px;
}

.inputnueva form div .input{
    width: 50%;
   
}

.inputnueva #numerotarjeta {
    margin-top: 0px;
}

.inputnueva .btn {
    width: 80%;
}

.resumendesucompra {
    border: 2px solid var(--primario-claro);
    border-radius: 16px;
    padding: 40px;
}

#caja {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 2px solid var(--primario-claro);
    border-radius: 16px;
  }
 #cajaresumen h3,p{
    margin-top: 8px;
    margin-bottom: 0px;
 }
