.valoracion {
    color:var(--primario-claro);
    margin-right: 8px;
}
.btn-block {
    display:block;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border-radius: 15px;
    background-color: white;
    width: 25%;
               
}
.card img{
    width: 100%;
    height: 160px; 
    overflow: hidden;
    margin-bottom: 32px;
}
.valoracion i{
    margin-right: 8px;
}
.m-productos .wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
  margin-bottom: 32px;
  padding:0px;
}
.m-productos .wrap h3,h4{
  margin:0px
}
.m-productos .wrap .btn{
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
}

  .card span i:hover{
    color: var(--resalto);
  }
  .main-cards{
   display: flex;
   justify-content: space-between;
   padding:0px;
   gap:8px
  }
  .card .nombreprecio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
  }
  
  #compraid {
    display: flex;
    flex-direction: column;
    
  }
  .cardcarrito {
    padding: 16px;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
  }
  .cardcarrito h5 {
    margin:0px;
    display: block;
  }
  .compraresumen {
    display: flex;
    margin-top: 40px;
  }
  #caja {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 2px solid var(--primario-claro);
    border-radius: 16px;
  }

  .cardcarrito .fotoproducto {
    display: flex;
  }

  #mistarjetas li {
    list-style-type: none;
  }
  #mistarjetas .tarjeta {
    text-decoration: none;
    border-radius: 8px;
    color:var(--primario-oscuro);
    border: 2px solid;
    display:inline-block;
    padding: 16px 80px;
    border-radius: 8px;
    margin-bottom: 8px;
  
  }
  #mistarjetas .tarjeta:hover {
    background-color: var(--primario-claro);

  
  }
  #mistarjetas .tarjeta h5 {
    margin: 0px;
  }
  .inputnueva {
    width: 50%;
  }