.descripcion {
    display: flex;
    justify-content: space-between;
    margin-top:64px;

}
.descripcion img {
    margin-right: 64px;
    border-radius: 16px;
    width: 40%;
      
}
.descripcion .producto-desc{
    margin-top: 48px;
    width: 100%;  
      
}

.descripcion .btn{
 padding-right: 160px;
}

.precio {
    margin-bottom: 8px;
   color: var(--primario-oscuro)
}