.descripcion {
    display: flex;
    justify-content: space-between;
    margin-top:64px;
    margin-bottom: 64px;

}
.descripcion img {
    margin-right: 64px;
    border-radius: 16px;
    width: 38%;
      
}
.descripcion .producto-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    border: 2px solid;
    border-radius: 16px;
    width: 100%;
    padding: 32px;  
    border-color: var(--primario-claro);
}
.descripcion .producto-desc h3{
    margin: 0px;
}

.descripcion .btn{
 padding-right: 160px;

}
.descripcion p{
    color: var(--resalto)
   }
   .descripcion h5{
    margin: 0%;
   }

.precio {
    margin-bottom: 8px;
   color: var(--primario-oscuro)
}
.caracteristicasespecificaciones {
    display: flex;
    margin-top: 48px;

}
#especificaciones {
    width: 100%;
}

.opiniondescripcion {
    display: flex;
    margin-top: 48px;
    margin-bottom: 64px;
}

.cajadescripcion {
    padding: 40px;
    border: 2px solid var(--primario-claro);
    border-radius: 16px; 
}
.nocaja {
    width: 100%;
    padding-right: 64px;
}
.nocaja h3 {
    margin-top: 16px;
}
.cajadescripcion .estrellas {
    text-align: right;
    color: var(--resalto);
}
.cajadescripcion .estrellas i:hover {
    color:var(--primario-claro);
}
.cajadescripcion h5 {
    color:var(--negro);
}

.caracteristicas {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 24px;
    border-right: 2px solid;
    padding: 32px;
    border-color: var(--primario-claro);
}
.nombreespecificaciones h4{
    color: var(--resalto);
}

.caracteristicas .nombre{
    color:var(--resalto)
}
.caracteristicas h4 {
    margin-bottom: 32px;
}
.descripcionproducto {
    display: flex;
}
